{% extends "base.html" %} {% block app_content %}
{% import 'bootstrap/wtf.html' as wtf %}
<h3>An Intelligent Air Conditioning Cost Calculator for a Sweaty Future</h3>
<h4>Compare past, present, and future air conditioner energy costs under different climate change scenarios</h4>
<div class="row-2">
  <div class="col">
      {{ wtf.quick_form(form) }}
    <hr style="border: 0.5px solid black;" />
    <div>
      <img src="static/homer.png" class="img-responsive" alt="Logo">
    </div>
    <div style="padding-top:20px; padding-bottom:20px;"">
      <a href="{{ url_for('about') }}"
        ><button class="btn btn-info">How the Calculator Works</button></a
      >
    </div>
  </div>
</div>


{% endblock %} {% block scripts %}
{{ super() }}
<script>
  function update_models() {
    brand = $("#brand").val();
    if (brand.length) {
      $("#model").empty();
      $.get("{{ url_for('get_models') }}", { brand: brand }, function(data) {
        $.each(data, function(index, value) {
          var option = $("<option></option>")
            .attr("value", value)
            .text(value);
          $("#model").append(option);
        });
      });
    }
  }
  $("#brand").on("change", function() {
    update_models();
  });
  $("#submit").removeClass( "btn-default" ).addClass( "btn-primary" );
  $("document").ready(function() {
    update_models();
  });
</script>
{% endblock %}
